<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icbc.shcpe_system.dao.ShcpeXmlDetailInfoMapper" >
  <resultMap id="BaseResultMap" type="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" >
    <id column="XML_ID" property="xmlId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" extends="BaseResultMap" >
    <result column="XML_INFO" property="xmlInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    XML_ID
  </sql>
  <sql id="Blob_Column_List" >
    XML_INFO
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SHCPE_XML_DETAIL
    where XML_ID = #{xmlId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SHCPE_XML_DETAIL
    where XML_ID = #{xmlId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="xmlId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SHCPE_XML_DETAIL (XML_INFO)
    values (#{xmlInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="xmlId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into SHCPE_XML_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="xmlInfo != null" >
        XML_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="xmlInfo != null" >
        #{xmlInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" >
    update SHCPE_XML_DETAIL
    <set >
      <if test="xmlInfo != null" >
        XML_INFO = #{xmlInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where XML_ID = #{xmlId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.icbc.shcpe_system.model.ShcpeXmlDetailInfo" >
    update SHCPE_XML_DETAIL
    set XML_INFO = #{xmlInfo,jdbcType=LONGVARCHAR}
    where XML_ID = #{xmlId,jdbcType=BIGINT}
  </update>
</mapper>